/.bundle
/log/*
/bin

# IntelliJ
/.idea
/*.iml
/.rakeTasks

# Emacs
*~

# rcov generated
coverage

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

#ci_reporter
spec/reports/
